:root {
  --primary-text-color: #757575;
  --primary-text-color-50: rgba(117, 117, 117, 0.5);
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --icon-deactive-footer: rgba(255, 255, 255, 0.1);
  --primary-blue-accent-color: #2196f3;
  --secondary-blue-color: rgba(33, 150, 243, 0.9);
  --primary-black-color: #000000;
  --button-deactive-color: #f5f4fa;
  --secondary-accent-color: #188ce8;
  --hero-footer-bg-color: #2f303a;
  --services-overlay-color: rgba(47, 48, 58, 0.8);
  --our-team-bg-color: #f5f4fa;
  --header-border: #ececec;
  --portfolio-border: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --icons-deactive: #afb1b8;
  --backdrop-back-ground: rgba(0, 0, 0, 0.2);
  --footer-form-border: rgba(255, 255, 255, 0.3);
  --modal-form-border: rgba(33, 33, 33, 0.2);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  padding-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 15px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 15px;
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title,
.title {
  color: var(--secondary-text-color);
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.666;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  color: var(--primary-blue-accent-color);
}

.logo--studio-black {
  color: var(--primary-black-color);
}

.logo--studio-white {
  color: var(--primary-white-color);
}

.page-header {
  padding: 10px 0;
  border-bottom: 1px solid var(--header-border);
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 0;
  }
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-thumb {
  display: none;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .menu-thumb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 48px 0 48px 40px;
    min-width: 100%;
    background-color: var(--primary-white-color);
  }
}

@media screen and (min-width: 768px) {
  .menu-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.menu-thumb.is-open {
  display: block;
  position: fixed;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .menu-thumb.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-button {
  background-color: inherit;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
}

.header-button.is-open {
  z-index: 3;
}

.header-button__icon-close:hover, .header-button__icon-menu:hover {
  fill: var(--primary-blue-accent-color);
}

.header-button__icon-close {
  display: none;
}

.header-button.is-open .header-button__icon-close {
  display: block;
}

.header-button.is-open .header-button__icon-menu {
  display: none;
}

.main-nav {
  margin-bottom: 302px;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__list {
    margin-left: 93px;
  }
}

.main-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .main-nav__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-nav__link {
    padding-top: 31.5px;
    padding-bottom: 31.5px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__link:hover, .main-nav__link:focus {
    color: var(--primary-blue-accent-color);
  }
}

.current {
  color: var(--primary-blue-accent-color);
}

@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-blue-accent-color);
  }
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    margin-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-contacts__item:not(:last-child) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .header-contacts__item:not(:last-child) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.header-contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-contacts__link {
    font-size: 12px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    padding-top: 31.5px;
    padding-bottom: 31.5px;
    font-size: 14px;
    line-height: 1.14;
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: var(--primary-blue-accent-color);
  }
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .header-contacts__icon {
    display: none;
  }
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

.header-socials__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-socials__link {
  padding: 0 10px 0 0;
  color: var(--primary-blue-accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 340px) and (max-width: 410px) {
  .header-socials__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 340px) {
  .header-socials__link {
    font-size: 12px;
  }
}

.hero {
  padding: 118px 0;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/heroback-mobile.jpg);
  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/heroback-mobile.jpg);
  background-color: var(--hero-footer-bg-color);
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/heroback-mobile@2x.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/heroback-mobile@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/heroback-tablet.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/heroback-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/heroback-tablet@2x.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/heroback-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/heroback-desktop.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/heroback-desktop.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-gradient)), to(var(--hero-gradient))), url(../images/heroback-desktop@2x.jpg);
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/heroback-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  padding: 0;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-blue-accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--secondary-accent-color);
}

@media screen and (min-width: 1200px) {
  .section__features {
    padding-bottom: 0;
  }
}

.features-list {
  margin: 0 auto;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: none;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    margin: 15px;
    width: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-list__icon-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: var(--our-team-bg-color);
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .features-list__title {
    text-align: center;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section__services {
    display: none;
  }
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.services-list__item {
  margin: 15px;
  width: calc((100% - 90px) / 3);
}

.services-list__image-thumb {
  position: relative;
}

.services-list__overlay {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  background-color: var(--services-overlay-color);
}

.services-list__text {
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
}

.section__team {
  background-color: var(--our-team-bg-color);
}

.team-list {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .team-list__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list__card {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__team-content {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-content__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.team-content__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.team-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-socials__item:not(:last-child) {
  margin-right: 10px;
}

.team-socials__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__link:hover, .team-socials__link:focus {
  background-color: var(--primary-blue-accent-color);
}

.team-socials__icon {
  fill: var(--icons-deactive);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__link:hover .team-socials__icon,
.team-socials__link:focus .team-socials__icon {
  fill: var(--primary-white-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.clients-list__item {
  margin: 15px;
  width: calc((100% - 60px) / 2);
  height: 92px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-list__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--primary-blue-accent-color);
}

.clients-list__icon {
  fill: var(--icons-deactive);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--primary-blue-accent-color);
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .address-join-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .address-join-thumb {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-join-thumb {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bg-color);
  text-align: center;
}

.page-footer__logo {
  margin-bottom: 20px;
}

.footer-contacts {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1199px) {
  .footer-contacts {
    text-align: left;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--primary-blue-accent-color);
}

.footer-contacts__link--contacts {
  color: var(--secondary-white-color);
}

@media screen and (min-width: 1200px) {
  .join {
    margin-top: 12px;
    margin-left: 84px;
  }
}

.join__text {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer-socials {
    margin-bottom: 60px;
  }
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--icon-deactive-footer);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--primary-blue-accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 12px;
    margin-left: auto;
    width: 570px;
  }
}

.footer-form__text {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .footer-form__text {
    text-align: start;
  }
}

.footer-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-form__field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-form__input {
  width: 450px;
  height: 50px;
  padding: 0 0 0 16px;
  color: var(--primary-white-color);
  border: 1px solid var(--footer-form-border);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-footer-bg-color);
}

@media screen and (max-width: 479px) {
  .footer-form__input {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form__input {
    margin-bottom: 20px;
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: calc(100% - 212px);
  }
}

.footer-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.footer-form__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: var(--backdrop-back-ground);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 60px 15px 0;
  }
}

.modal {
  position: relative;
  margin: 0 auto;
  padding: 40px 40px;
  opacity: 1;
  max-width: 450px;
  /* height: 581px; */
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 320px) {
  .modal {
    padding: 40px 15px;
    max-width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    padding: 40px 40px;
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: none;
    width: 528px;
  }
}

.backdrop--is-hidden .modal {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .backdrop--is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  fill: var(--primary-blue-accent-color);
}

.modal__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal {
  z-index: 200;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}

.modal-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.modal-form__field:nth-child(5) {
  margin-bottom: 20px;
}

.modal-form__thumb {
  position: relative;
}

.modal-form__label {
  padding-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--primary-blue-accent-color);
  outline: none;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--primary-blue-accent-color);
}

.modal-form__comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--modal-form-border);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:focus {
  border-color: var(--primary-blue-accent-color);
  outline: none;
}

.modal-form__comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-50);
}

.modal-form__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-50);
}

.modal-form__comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-50);
}

.modal-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-50);
}

.modal-form__policy {
  width: 100%;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__check {
  -webkit-appearance: none;
}

.modal-form__accept {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 479px) {
  .modal-form__accept {
    display: inline;
  }
}

.modal-form__policy-icon {
  margin-right: 8px;
  fill: var(--primary-white-color);
  border: 2px solid #212121;
  border-radius: 2px;
}

@media screen and (max-width: 479px) {
  .modal-form__policy-icon {
    vertical-align: middle;
  }
}

.modal-form__check:checked ~ .modal-form__accept .modal-form__policy-icon {
  fill: var(--primary-blue-accent-color);
  border: none;
}

.modal-form__policy-link {
  margin-left: auto;
  color: var(--primary-blue-accent-color);
}

.modal-form__button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:not(:nth-child(n + 4)) {
    margin-bottom: 15px;
  }
}

.filter__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--button-deactive-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: var(--primary-white-color);
  outline: none;
  background-color: var(--primary-blue-accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .examples__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.examples__item {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .examples__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .examples__item:first-child .examples-content {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .examples__item:first-child .examples-content {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    width: calc((100% - 90px) / 3);
  }
}

.examples__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__image-thumb {
  position: relative;
  overflow: hidden;
}

.examples-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  width: 100%;
  height: 100%;
  background-color: var(--secondary-blue-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover .examples-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples-overlay__text {
  font-size: 18px;
  line-height: 1.555;
  color: var(--primary-white-color);
}

.examples-content {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid var(--portfolio-border);
  border-top: 0;
}

.examples-content__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-content__text {
  margin-top: 4px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}
/*# sourceMappingURL=main.css.map */