.header-socials {
  display: flex;
  max-width: 357px;
  // justify-content: space-between;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-socials__item:not(:last-child) {
  margin-right: 10px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-socials__link {
  padding: 0 10px 0 0;

  color: var(--primary-blue-accent-color);

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;
}
