.join {
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-left: 84px;
  }
}

.join__text {
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;

  text-transform: uppercase;
}
