.section__team {
  background-color: var(--our-team-bg-color);
}
.team-list {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  @media screen and (max-width: 767px) {
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
.team-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.team-list__card {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__team-content {
  padding-top: 30px;
  padding-bottom: 24px;

  text-align: center;
}

.team-content__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;

  letter-spacing: 0.03em;
}
.team-content__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.187;

  letter-spacing: 0.03em;
}

.team-socials {
  display: flex;
  justify-content: center;
}
.team-socials__item:not(:last-child) {
  margin-right: 10px;
}
.team-socials__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--primary-blue-accent-color);
  }
}

.team-socials__icon {
  fill: var(--icons-deactive);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .team-socials__link:hover &,
  .team-socials__link:focus & {
    fill: var(--primary-white-color);
  }
}
