:root {
  --primary-text-color: #757575;
  --primary-text-color-50: rgba(117, 117, 117, 0.5);
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --icon-deactive-footer: rgba(255, 255, 255, 0.1);
  --primary-blue-accent-color: #2196f3;
  --secondary-blue-color: rgba(33, 150, 243, 0.9);
  --primary-black-color: #000000;
  --button-deactive-color: #f5f4fa;
  --secondary-accent-color: #188ce8;

  --hero-footer-bg-color: #2f303a;
  --services-overlay-color: rgba(47, 48, 58, 0.8);
  --our-team-bg-color: #f5f4fa;

  --header-border: #ececec;
  --portfolio-border: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --icons-deactive: #afb1b8;

  --backdrop-back-ground: rgba(0, 0, 0, 0.2);
  --footer-form-border: rgba(255, 255, 255, 0.3);

  --modal-form-border: rgba(33, 33, 33, 0.2);
}
